.home-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 75px);
}

.home-page .info {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-page .info::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 40em;
    right: 0;
    background-color: #f0f0f0;
    transform-origin: bottom right;
    transform: skewX(-10deg);
}

.home-page .info-content {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}

.home-page .info p:first-child {
    font-family: "ClintonExtraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #242e30;
    margin: 0;
    align-self: flex-start;
    z-index: 1;
}

.home-page .info p:last-of-type {
    font-family: "ClintonBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #242e30;
    align-self: flex-start;
    margin: 10px 0 40px 0;
    z-index: 1;
}

.home-page .info form {
    width: 120%;
    position: relative;
    z-index: 1;
}

.home-page .info form input {
    width: 100%;
    height: 3rem;
    border: 1px solid gray;
    outline: none;
    border-radius: 30px;
    padding: 20px;
    font-size: 1.2rem;
}

.home-page .info form button {
    background-color: #ff8000;
    position: absolute;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px 20px;
    right: 0.5%;
    top: 7%;
}

.home-page .info form button:hover {
    background-color: #f06c00;
    cursor: pointer;
}

.home-page .right-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ff8000;
    align-items: center;
}

.home-page .right-img img {
    width: 80%;
    height: fit-content;
}

@media only screen and (max-width: 1500px) {
    .home-page .info-content {
        margin-left: 0;
    }

    .home-page .info {
        align-items: center;
    }

    .home-page .info form {
        width: 100%;
    }
}

@media only screen and (max-width: 1101px) {
    .home-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: calc(100vh - 75px);
    }

    .info::after {
        display: none;
    }
}
