body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

.header {
    height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    position: relative;
    z-index: 99999;
}

.logo {
    cursor: pointer;
    color: #ff8000;
    font-size: 1.5rem;
    font-weight: 900;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    font-size: 1.5rem;
    font-weight: 900;
    color: #242e30;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
}
.nav li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 75px);
}

.info {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f0f0f0;
}

.info::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 10em;
    right: 0;
    background-color: #f0f0f0;
    transform-origin: bottom right;
    transform: skewX(-10deg);
}

.right-img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ff8000;
    align-items: center;
}

img {
    width: 50rem;
    height: fit-content;
}
